---
import Population from '../icons/Population.icon.astro';
import Building from '../icons/Building.icon.astro';
import Globe from '../icons/Globe.icon.astro';
import Pin from '../icons/Pin.icon.astro';
import ContinentBadge from './ContinentBadge.astro';
import type { Country } from '../types';
import { formatNumber } from '../utils';

interface Props {
	country: Country;
}

const { country } = Astro.props;

const mainFeatures = [
    {
        icon: Population,
        label: formatNumber(country.population),
    },
    {
        icon: Building,
        label: country.capital,
    },
    {
        icon: Globe,
        label: country.region,
    },
    {
        icon: Pin,
        label: country.subregion,
    }
];
---

<li>
	<a
		href={`/country/${country.name}`}
		class="group w-[300px] h-[325px] rounded-md shadow-xl overflow-hidden z-[100] relative cursor-pointer snap-start shrink-0 py-8 px-6 bg-white flex flex-col items-center justify-center gap-3 transition-all duration-300"
	>
		<ContinentBadge
			name={country.region}
			template="card"
		/>

		<div class="absolute rounded-full bg-gray-500 z-20 left-1/2 top-[44%] h-[110%] w-[110%] -translate-x-1/2 group-hover:top-[58%] transition-all duration-300" />

		<div class="w-full h-[44px] uppercase text-center leading-none z-40 flex justify-center items-end">
			<p class="font-bold text-xl tracking-wider text-gray-500">
				{country.name}
			</p>
		</div>

		<div class="img w-[180px] h-[122.5px] aspect-square bg-gray-100 z-40 rounded-md overflow-hidden" transition:name={country.name + "badge"}>
			<img
				src={country.flag}
				alt={country.name}
				width={180}
				height={122.5}
				decoding="async"
				loading="lazy"
				class="object-cover min-h-full"
			/>
		</div>

		<div class="w-[210px] z-40 flex flex-row justify-between gap-8">
			<div class="flex flex-col items-start gap-1.5">
				{
					mainFeatures.slice(0,2).map(({ icon: Icon, label }) => (
						label && (
							<div class="inline-flex gap-3 items-center justify-center">
								<div class="p-1 bg-white flex items-center justify-center rounded-full self-start text-gray-800">
									<Icon />
								</div>
								<p class="font-semibold text-xs text-white break-words">
									{label}
								</p>
							</div>
						)
					))
				}
			</div>

			<div class="flex flex-col items-start gap-1.5">
				{
					mainFeatures.slice(2).map(({ icon: Icon, label }) => (
						label && (
							<div class="inline-flex gap-3 items-center justify-center">
								<div class="p-1 bg-white flex items-center justify-center rounded-full self-start text-gray-800">
									<Icon />
								</div>
								<p class="font-semibold text-xs text-white break-words">
									{label}
								</p>
							</div>
						)
					))
				}
			</div>
		</div>
	</a>
</li>